In [1]:
# Volume of a sphere given its radius.
# formule:
# Volume of sphere = (4/3)* 3.14 * (r^3)

In [11]:
# My solution:

def vol(rad):
    volume = (4/3) * 3.14 * (rad**3)
    return volume
vol(2)

33.49333333333333

In [13]:
# Jose Portilla:

def vol(rad):
    return (4/3)*(3.14)*(rad**3)
vol(2)

33.49333333333333

In [14]:
# Function in given range
# Solve by 2 methods 1st by writing and 2nd by boolean

In [19]:
# Self Method 1:
# without range function

def ran_check(num,low,high):
    
    if num > low and num < high:
        print(f"{num} is in range between {low} and {high}.")
            
    else:
        print(f"{num} is out of range between {low} and {high}.")

ran_check(4,1,10)

4 is in range between 1 and 10.

In [20]:
# Self Method 2:
# withour range function

def ran_bool(num, low, high):
    
    if num>low and num<high:
        return True
    else:
        return False

ran_bool(3,1,10)

True

In [21]:
# Jose Portilla:

def ran_check(num, low, high):
    
    if num in range(low, high+1):
        print(f'{num} is in range between {low} and {high}')
    else:
        print(" Out of Range.")

ran_check(3,1,10)

3 is in range between 1 and 10

In [24]:
# By Jose:

def ran_bool(num, low, high):
    return num in range(low, high+1)

ran_bool(3,1,10)

True

In [28]:
# Calculate number of upper case letter and lower case letter:

def up_low(s):
    lower_case = 0
    upper_case = 0
    
    for let in s:
        if let.isupper():
            upper_case += 1
        elif let.islower():
            lower_case += 1
        else:
            pass

    print(f"Original String: {s}")
    print(f"Number of Upper case characters: {upper_case}")
    print(f"Number of Lower case characters: {lower_case}")

In [29]:
String = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(String)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Number of Upper case characters: 4
Number of Lower case characters: 33

In [34]:
# Above Program in Dictionary Method:

def up_low(s):
    d = {'upper': 0, 'lower': 0}
    
    for let in s:
        if let.isupper():
            d['upper'] += 1
        elif let.islower():
            d['lower'] += 1
        else:
            pass
    
    print(f"Original string: {s}")
    print(f"Number of Upper case character: {d['upper']}.")
    print(f"Number of Lower case character: {d['lower']}.")
    
    
String = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(String)

Original string: Hello Mr. Rogers, how are you this fine Tuesday?
Number of Upper case character: 4.
Number of Lower case character: 33.

In [50]:
# return a new list with unique elements from the first list.

def unique_list(lst):
    new_list = set(lst)
    return list(new_list)

In [51]:
s_list = [1,1,1,1,2,2,3,3,3,3,4,5]
print(unique_list(s_list))

[1, 2, 3, 4, 5]

In [52]:
# Jose: 
# Method-1:
def unique_list(lst):
    return list(set(lst))

In [53]:
s_list = [1,1,1,1,2,2,3,3,3,3,4,5]
print(unique_list(s_list))

[1, 2, 3, 4, 5]

In [56]:
# Method-2:
def unique_list(lst):
    
    seen_num = []
    for number in lst:
        if number not in seen_num:
            seen_num.append(number)
    return seen_num

In [57]:
s_list = [1,1,1,1,2,2,3,3,3,3,4,5]
unique_list(s_list)

[1, 2, 3, 4, 5]

In [59]:
# Multiply all the numbers in list:
# My progrma == Jose program
def multiply(number):
    new_num = 1
    for num in number:
        new_num = new_num * num
    return new_num

In [60]:
sam_list = [1,2,3,-4]
multiply(sam_list)

-24

In [65]:
# Checks whether a word or phrase id palindrome or not

def palindrome(s):
    
    new_s = s[::-1]
    if s == new_s:
        return True
    
    return False
palindrome('helleh')

True

In [66]:
# my program is not work with letters with space.
palindrome('nurses run')

False

In [69]:
# Jose
def palindrome(s):
    # Remove space string
    s = s.replace(' ','')
    # Check is string is == reversed version of the string
    return s == s[::-1]

In [70]:
palindrome('nu rs es ru n')

True

In [95]:
# Check whether a string is pangram or not:

# Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
# For example : "The quick brown fox jumps over the lazy dog"

def ispangram(str1):
    
    str1 = str1.replace(' ', '')
    str2 = ''
    for let in str1:
        if let not in str2:
            str2 = str2 + let
            str2 == str1
            return True
        return False

In [96]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [89]:
# Jose:

def ispangram(str1, alphabet = string.ascii_lowercase):
    
    # Create a set of the alphabet
    alphaset = set(alphabet)
    
    # Remove any space from the input string
    str1 = str1.replace(' ', '')
    
    # convert into all lowercase
    str1 = str1.lower()
    
    # Grab all unique letter from the string set()
    str1 = set(str1)
    
    #alphabet set == string set input
    return str1 == alphaset

In [91]:
ispangram("The quick bbrown fox jumps over the lazy dog")

True

In [92]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [97]:
# Use print statement to debug condition.
# This will help you to understand program properly.

THE END