## Warmup Section:

### Lesser of the two even

In [ ]:
def less_of_two_evens(a,b):
    
    if a%2==0 and b%2==0:
        if a<b:
            result = a
        else:
            result = b
    else:
        if a>b:
            result = a
        else:
            result = b
    return result

In [ ]:
less_of_two_evens(5,8)

8

In [ ]:
less_of_two_evens(2,4)

2

In [ ]:
def less_of_two_evens(a,b):
    
    if a%2==0 and b%2==0:
        # BOTH NUMBER ARE EVEN!
        return min(a,b)
    else: 
        # ONE OR BOTH NUMBER ARE ODD!
        return max(a,b)

In [ ]:
less_of_two_evens(10,3)

10

In [ ]:
less_of_two_evens(2,4)

2

### ANIMAL CRACKERS:

In [ ]:
def animal_crackers(text):
    word_list = text.lower().split()
    print(word_list)
    return word_list[0][0] == word_list[1][0]

In [ ]:
animal_crackers('Levelheaded Llama')

['levelheaded', 'llama']

True

In [ ]:
animal_crackers('Crazy Kangaroo')

['crazy', 'kangaroo']

False

In [ ]:
animal_crackers('Crazy cat')

['crazy', 'cat']

True

### MAKES TWENTY:

In [ ]:
def makes_twenty(n1,n2):
    if n1+n2 == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [ ]:
makes_twenty(20,10)

True

In [ ]:
makes_twenty(12,8)

True

In [ ]:
makes_twenty(2,3)

False

In [ ]:
def makes_twenty(n1,n2):
    if n1+n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [ ]:
def makes_twenty(n1,n2):
    return n1+n2==20 or n1 == 20 or n2 == 20

In [ ]:
makes_twenty(12,8)

True

In [ ]:
makes_twenty(2,3)

False

## LEVEL 1 PROBLEMS

### OLD MACDONALD:

In [ ]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween_second_letter = name[1:3]
    fourth_letter = name[3]
    rest_letter = name[4:]
    
    return first_letter.upper() + inbetween_second_letter + fourth_letter.upper() + rest_letter

In [ ]:
old_macdonald('macdonald')

'MacDonald'

In [ ]:
def old_macdonald(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [ ]:
old_macdonald('macdonald')

'MacDonald'

### MASTER YODA

In [ ]:
def master_yoda(text):
    word_list = text.split()
    reverse_word_list = word_list[::-1]
    return " ".join(reverse_word_list)
#The .join() method allows you to join together strings in a list with some connector string.

In [ ]:
master_yoda('I am home')

'home am I'

In [ ]:
master_yoda('We are ready')

'ready are We'

### ALMOST THERE

In [ ]:
def almost_there(n):
      return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [ ]:
# The Python abs() function return the absolute value and remove the negative sign of a number in Python.

In [ ]:
almost_there(104)

True

In [ ]:
almost_there(150)

False

In [ ]:
almost_there(209)

True

## LEVEL 2 PROBLEM

### FIND 33:

In [ ]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [ ]:
has_33([1, 3, 3])

True

In [ ]:
has_33([1, 3, 1, 3])

False

In [ ]:
has_33([3, 1, 3])

False

In [ ]:
def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [ ]:
has_33([1, 3, 3])

True

In [ ]:
has_33([3, 1, 3])

False

### PAPER DOLL

In [ ]:
def paper_doll(text):
    let_list = []
    for let in text:
        let_list.append(let*3)
    return "".join(let_list)

In [ ]:
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
type(paper_doll('Mississippi'))

str

In [ ]:
# In question you have to return string but in above program we return list.
# but in end I think join convert it in string that is why  we get right answer.

In [ ]:
def paper_doll(text):
    let_list = ''
    for let in text:
        let_list += let*3
    return let_list

In [ ]:
paper_doll('Hello')

'HHHeeellllllooo'

In [ ]:
type(paper_doll('Mississippi'))

str

### BLACKJACK

In [ ]:
def blackjack(a,b,c):
    num = sum([a,b,c])
    if num <= 21:
        return num
    elif 11 in [a,b,c] and num > 21:
        return num - 10
    else:
        return 'BUST'

In [ ]:
blackjack(5,6,7)

18

In [ ]:
blackjack(9,9,9)

'BUST'

In [ ]:
blackjack(9,9,11)

19

### SUMMER OF '69:

In [ ]:
def summer_69(arr):
    
    total = 0 
    add = True
    
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [ ]:
summer_69([1, 3, 5])

9

In [ ]:
summer_69([4, 5, 6, 7, 8, 9, 11])

20

In [ ]:
summer_69([2, 1, 6, 9, 11])

14

## CHALLENGING PROBLEMS:

### SPY GAME:

In [ ]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # [0,7,'x']
    # [7,'x']
    # ['x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [ ]:
spy_game([1,2,4,0,0,7,5])

True

In [ ]:
spy_game([1,0,2,4,0,5,7])

True

In [ ]:
spy_game([1,7,2,0,4,5,0])

False

### COUNT PRIMES:

In [ ]:
def count_primes(num):
    
    # check for 0 or 1 input 
    if num < 2:
        return 0
    ##############
    # 2 or greater
    ##############
    
    # Store our prime numbers
    primes = [2]
    # Counter going up to the input num
    x = 3
    
    while x <= num:
        for y in  range(3,x,2):
            if x%y == 0:
                x += 2
                break
        else:
                primes.append(x)
                x += 2
    print(primes)
    return len(primes)

In [ ]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [ ]:
def count_primes(num):
    
    # check for 0 or 1 input 
    if num < 2:
        return 0
    ##############
    # 2 or greater
    ##############
    
    # Store our prime numbers
    primes = [2]
    # Counter going up to the input num
    x = 3
    
    while x <= num:
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:
                primes.append(x)
                x += 2
    print(primes)
    return len(primes)

In [ ]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

## Just for fun:
### PRINT BIG

In [ ]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*  * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [ ]:
print_big('E')

*****
*
*****
*
*****

## THE END

## Pattern Programs G.F.G:

In [ ]:
#1 
def pypart(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("* ",end = "")
        print("\r")

In [ ]:
pypart(5)

*
* *
* * *
* * * *
* * * * *

In [ ]:
#2
def pypart(n):
    mylist = []
    for i in range(1,n+1):
        mylist.append("*"*i)
    print("\n".join(mylist))

In [ ]:
pypart(5)

*
**
***
****
*****

In [ ]:
n = 5; i=0
while(i<=n):
    print(" "*(n-i) + "*"*i + "*"*(i+1))
    i += 1

     *
    ***
   *****
  *******
 *********
***********

In [14]:
n = 5; i=0
while(i<=n):
    print(" "*(i+1) + "*"*(n-i) + "*"*(n-i+1) )
    i += 1

 ***********
  *********
   *******
    *****
     ***
      *

## YouTube Video On Pattern

In [15]:
#1
n = 5 
for i in range(n):
    for j in range(n):
        print('$',end = ' ')
    print()

$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $

In [20]:
#2
n = 5
for i in range(n):
    for j in range(i+1):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [27]:
n = 5
for i in range(n):
    for j in range(i,n):
        print('*', end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [29]:
#3
n = 5
for i in range(n):
    for j in range(i,n):
        print(' ',end = ' ')
    for j in range(i+1):
        print('*',end = ' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [31]:
#4 
n = 5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [32]:
#5
for i in range(n):
    for j in range(i,n):
        print(' ',end = ' ')
    for j in range(i):
        print('*',end = ' ')
    for j in range(i+1):
        print('*',end = ' ')
    
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [33]:
#6
for i in range(n):
    for j in range(i+1):
        print(' ',end= ' ')
    for j in range(i,n-1):
        print('*',end= ' ')
    for j in range(i,n):
        print('*',end= ' ')
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *