# Udemy Complete Python Bootcamp From Zero to Hero 
# - By Jose Portilla

## L:41 - Methods & the python Doc:

In [27]:
mylist = [1,2,3,4]
mylist.pop()

4

In [33]:
mylist.insert(len(mylist),122)

In [34]:
mylist

[1, 2, 3, 11, 10, 122]

In [32]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

## L:44 - Basics of Python Function

In [38]:
def say_hello():
    print("Hello")
    print('are')
    print('you')

In [39]:
say_hello()

Hello
are
you

In [40]:
def say_hello(name):
    print(f'Hello {name}')

In [41]:
say_hello('Ayush')

Hello Ayush

In [42]:
def say_hello(name = 'Default'):
    print(f'Hello {name}')

In [43]:
say_hello()

Hello Default

In [44]:
def add_num(num1,num2):
    return num1+num2

In [45]:
result = add_num(10,20)

In [46]:
result

30

In [47]:
def print_result(a,b):
    print(a+b)

In [48]:
def return_result(a,b):
    return(a+b)

In [49]:
result = print_result(10,20)

30

In [50]:
result

In [51]:
type(result)

NoneType

In [52]:
result = return_result(10,20)

In [53]:
result

30

In [54]:
type(result)

int

In [55]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [56]:
result = myfunc(10,20)

30

In [57]:
result

30

In [58]:
def sum_num(n1,n2):
    return n1+n2

In [59]:
sum_num(10,20)

30

In [60]:
sum_num('10','20')

'1020'

 ## L:45 - Logic with Python Function

In [61]:
def even_check(number):
    result = number % 2 == 0 
    return result

In [62]:
even_check(20)

True

In [63]:
even_check(31)

False

In [64]:
def even_check(number):
     return number % 2 == 0

In [65]:
even_check(22)

True

In [66]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [1]:
def check_even_list(num_l):
    
    for num in num_l:
        if num % 2 ==0:
            return True
        else:
            pass
    
    return False

In [2]:
check_even_list([1,2,3,4])

True

In [3]:
check_even_list([3,5,7])

False

In [70]:
# RETURN ALL THE EVEN NUMBER IN A LIST

In [71]:
def check_e_l(num_l):
    
    #placeholder variables
    even_number = []
    
    for num in num_l:
        if num % 2 == 0:
            even_number.append(num)
        else:
            pass
    return even_number

In [72]:
check_e_l([1,2,3,4,5])

[2, 4]

In [73]:
check_e_l([1,3,5])

[]

## L:46 - Function & Tuple Unpacking

In [74]:
stock_prices = [('Appl',200),('Googl',400),('MS',100)]

In [75]:
for item in stock_prices:
    print(item)

('Appl', 200)
('Googl', 400)
('MS', 100)

In [76]:
for tic,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [37]:
work_hours = [('Abby',1000),('Billy',400),('Cassie',800)]

In [38]:
def emp_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for emp,hour in work_hours:
        if hour > current_max:
            current_max = hour
            employee_of_month = emp
        # else condition does not change anything in program
        else:
            pass
    #RETURN
    return (employee_of_month,current_max)

In [39]:
emp_check(work_hours)

('Abby', 1000)

In [80]:
result = emp_check(work_hours)

In [81]:
result

('Abby', 1000)

In [82]:
name,hours = emp_check(work_hours)

In [83]:
name

'Abby'

In [84]:
hours

1000

## L:47 - Interaction Between Python Function

In [85]:
exm = [1,2,3,4,5,6,7,8]

In [86]:
from random import shuffle

In [87]:
shuffle(exm)

In [88]:
exm

[3, 5, 4, 6, 1, 7, 2, 8]

In [89]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [90]:
result = shuffle_list(exm)

In [91]:
result

[5, 7, 1, 3, 6, 8, 2, 4]

In [92]:
mylist = [' ','O',' ']

In [93]:
shuffle_list(mylist)

['O', ' ', ' ']

In [4]:
def player_guess():
    guess = ' '
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0,1, or 2 ")
    
    return int(guess)

In [5]:
player_guess()

Pick a number: 0,1, or 2 0

0

In [96]:
myindex = player_guess()

Pick a number: 0,1, or 21

In [97]:
myindex

1

In [98]:
def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print("Correct!")
    else:
        print("Wrong Guess!")
        print(mylist)

In [99]:
# INITIAL LIST
mylist = [' ','O',' ']

# SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

# USER LIST
guess = player_guess()

#CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number: 0,1, or 20
Correct!

## L:49 - *args & **kwargs in Python

In [100]:
def myfunc(a,b,c=0,d=0,e=0):
    #Return 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [101]:
myfunc(40,60,100,200,300)

35.0

In [102]:
def myfunc(*args):
    return sum(args) * 0.05

In [103]:
myfunc(40,60,100,200,300)

35.0

In [104]:
def myfunc(*args):
    for item in args:
        print(item)

In [105]:
myfunc(40,60,100,200,300)

40
60
100
200
300

In [106]:
 def myfunc(**kwargs):
        print(kwargs)
        if 'fruit' in kwargs:
            print('My fruit of choice is {}'.format(kwargs['fruit']))
        else:
            print('I did not find any fruit here')

In [107]:
myfunc(fruit='apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [108]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [109]:
myfunc(10,20,30,40,fruit = 'orange', food = 'bread', animal = 'cat')

(10, 20, 30, 40)
{'fruit': 'orange', 'food': 'bread', 'animal': 'cat'}
I would like 10 bread

### EXERCISE QUESTION

In [110]:
def myfunc(*args):
    le = []
    for item in range(len(args)):
        if item % 2 == 0:
            le.append(args[item].upper())
        else:
            le.append(args[item].lower())
    return ''.join(le)

## L:55 - LAMBDA EXPRESSIONS MAP AND FILTER

In [111]:
def square(num):
    return num**2

In [112]:
my_nums = [1,2,3,4,5]

In [113]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [114]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [115]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [116]:
names = ['Andy', 'Eve', 'Sally']

In [117]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [118]:
def check_even(num):
    return num%2 == 0

In [119]:
mynums = [1,2,3,4,5,6]

In [120]:
list(filter(check_even,mynums))

[2, 4, 6]

In [121]:
for n in filter(check_even, mynums):
    print(n)

2
4
6

In [122]:
def square(num):
    return num**2

In [123]:
square(2)

4

In [124]:
def square(num): return num**2

In [125]:
square = lambda num: num**2

In [126]:
square(5)

25

In [6]:
# lambda is used to reduce work of map function.
# When we use map() only we have to write on program and give data also.
# By using lambda we write the condition in it and does not need to write it seprately for performing map task.

In [129]:
list(map(lambda num: num**2, my_nums))

[1, 4, 9, 16, 25]

In [130]:
list(filter(lambda num : num%2 == 0, mynums))

[2, 4, 6]

In [131]:
names

['Andy', 'Eve', 'Sally']

In [132]:
list(map(lambda name: name[0],names))

['A', 'E', 'S']

In [133]:
list(map(lambda name: name[::-1],names))

['ydnA', 'evE', 'yllaS']

In [134]:
t = (1)

In [135]:
t

1

In [136]:
type(t)

int

In [137]:
t = (1,)

In [138]:
t

(1,)

In [ ]:
def pmoney(bakwas):
    days = int(input("Days to send: "))
    for i in bakwas:
        if 
        r = int(25500/d)
        print(r)

## L:56 - Nested Statements and Scope:

In [7]:
# When you give a variable name that name is stored in place called namespace.
# and that variable name also have scope.
# Scope determines the visibility of that variable name to other parts of code.
# Error: The variable is not define, is fixed by this way.

In [9]:
x = 25

def printer():
    x = 50
    return x

In [10]:
print(x)

25

In [11]:
print(printer())

50

In [14]:
# Scope desides what part have to run 1st.

# LEGB Rule:

#### l: Local -- Names assigne any way within a function(def or lambda), and not declared global in that function.
#### E: Enclosing function locals -- Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.
#### G: Global(module) -- Names assigned at the top-level of a module file, or declared global in a def within the file.
#### B: Built-in (Python) -- Names preassigned in the built-in names module: open, range, SyntaxError,....